:root {
  --primary: #f03e3e;
  --deepPink: #a61e4d;
  --black: #212529;
  --lighterGray: #f8f9fa;
  --lightGray: #e9ecef;
  --midiGray: #868e96;
  --lightPink: #ffe3e3;
  --lightPink2: #ffc9c9;
  --lightPink3: #ffa8a8;
}
